.m-cell-title[data-v-79afe2e8]{padding:15px;color:#909193;background-color:#f3f4f6;font-size:15px}.m-slot-value[data-v-79afe2e8]{background-color:#dd524d;border-radius:6px;padding:2px 4px;color:#fff}
