# npm
# package-lock.json
node_modules
npm-debug.log*

# yarn
# yarn.lock
yarn-debug.log*

# pnpm
# pnpm-lock.yaml
.pnpm-debug.log*

# vscode
.vscode
.husky


# macs
.DS_Store

# hubilder

.hbuilderx
.vite
unpackage
www